.footer{
  position:fixed;
  bottom:0;
  width: 100%;
  height: 3%;
  /*z-index: 1000;*/
  display: flex;
  justify-content: space-between;
  background-color:#16a085;
  border-top: solid 1px black;
  

}
.footer p{
  color: rgb(245, 245, 241);
  
}
.footer img{
  border-radius: 10px;
  border: solid 1px black;
}
.reseauSociaux {
  display: flex;
  justify-content: space-between;
  
}