body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #1E3264;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #626567;
}

p {
  color: #1E3264;
}